@import "./output.css";

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeAnim {
    animation: fade 500ms ease-out;
}

.scroll-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
    
}

.scroll-style::-webkit-scrollbar-thumb
{
	background-color: #1F2937;
}
